In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math
import warnings
warnings.filterwarnings('ignore') # Hides warning
warnings.filterwarnings("ignore", category=DeprecationWarning)
warnings.filterwarnings("ignore",category=UserWarning)
sns.set_style("whitegrid") # Plotting style
%matplotlib inline
np.random.seed(7) # seeding random number generator

In [4]:
CollegeReviewCompiled = pd.read_csv(r'/content/CompileReviews-8-11-2022.csv')
CollegeReviewCompiled.tail(2)

,author,reviewBody,reviewRating,ratingMaxvalue,dateCreated,reviewUrl,reviewSource,name,address,Sentiment
331,0.30 s,NaN,2.0,5.0,2017,www.google.com,www.google.com,University of Limerick,University of Limerick,NaN
332,Karolina,NaN,3.0,5.0,2018,www.google.com,www.google.com,University of Limerick,University of Limerick,NaN

In [6]:
CollegeReviewCompiled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   author          333 non-null    object
 1   reviewBody      277 non-null    object
 2   reviewRating    332 non-null    float64
 3   ratingMaxvalue  332 non-null    float64
 4   dateCreated     333 non-null    int64
 5   reviewUrl       333 non-null    object
 6   reviewSource    333 non-null    object
 7   name            333 non-null    object
 8   address         333 non-null    object
 9   Sentiment       50 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 26.1+ KB

In [8]:
CollegeReviewCompiled=CollegeReviewCompiled.drop(['Sentiment'], axis=1)

In [9]:
def sentiments(rating):
    if (rating == 5) or (rating == 4):
        return "Positive"
    elif rating == 3:
        return "Neutral"
    elif (rating == 2) or (rating == 1):
        return "Negative"
# Add sentiments to the data
CollegeReviewCompiled["Sentiment"] = CollegeReviewCompiled["reviewRating"].apply(sentiments)

In [10]:
CollegeReviewCompiled.tail(2)

,author,reviewBody,reviewRating,ratingMaxvalue,dateCreated,reviewUrl,reviewSource,name,address,Sentiment
331,0.30 s,NaN,2.0,5.0,2017,www.google.com,www.google.com,University of Limerick,University of Limerick,Negative
332,Karolina,NaN,3.0,5.0,2018,www.google.com,www.google.com,University of Limerick,University of Limerick,Neutral

In [11]:
CollegeReviewCompiled.describe()

       reviewRating  ratingMaxvalue  dateCreated
count    332.000000           332.0   333.000000
mean       3.431928             5.0  2016.186186
std        1.548200             0.0     2.398830
min        1.000000             5.0  2010.000000
25%        2.000000             5.0  2015.000000
50%        4.000000             5.0  2017.000000
75%        5.000000             5.0  2018.000000
max        5.000000             5.0  2020.000000

In [12]:
CollegeReviewCompiled["Sentiment"].value_counts()

Positive    143
Negative     85
Neutral      29
Name: Sentiment, dtype: int64

In [13]:
CollegeReviewCompiled.to_csv('Dataset_for_powerBISentiment.csv')

In [19]:
!pip install -U pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.42)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (2.0.0.post0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.13.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.10.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26781 sha256=ab5027e8705ae9bb6b49081a0ac94d2c3010fec0085489cee16e1229523b21f3
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [20]:
from pandasql import sqldf
import pandas as pd
from sklearn import datasets

In [17]:
sql_query = pd.read_sql_query ('''
                               SELECT
                               *
                               FROM Dataset_for_powerBISentiment
                               ''', conn)

DatabaseError: ignored

Now, since we have a labelled dataset, we will start processing the data for further analysis.