In [303]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import math
import warnings
warnings.filterwarnings('ignore') # Hides warning
warnings.filterwarnings('ignore', category=DeprecationWarning)
warnings.filterwarnings('ignore',category=UserWarning)
sns.set_style('whitegrid') # Plotting style
%matplotlib inline
np.random.seed(7) # seeding random number generator

In [304]:
CollegeReviewCompiled = pd.read_csv(r'/content/CompileReviews-8-11-2022.csv')
CollegeReviewCompiled.tail(2)

,author,reviewBody,reviewRating,ratingMaxvalue,dateCreated,reviewUrl,reviewSource,name,address,Sentiment
331,0.30 s,NaN,2.0,5.0,2017,www.google.com,www.google.com,University of Limerick,University of Limerick,NaN
332,Karolina,NaN,3.0,5.0,2018,www.google.com,www.google.com,University of Limerick,University of Limerick,NaN

In [305]:
CollegeReviewCompiled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   author          333 non-null    object
 1   reviewBody      277 non-null    object
 2   reviewRating    332 non-null    float64
 3   ratingMaxvalue  332 non-null    float64
 4   dateCreated     333 non-null    int64
 5   reviewUrl       333 non-null    object
 6   reviewSource    333 non-null    object
 7   name            333 non-null    object
 8   address         333 non-null    object
 9   Sentiment       50 non-null     object
dtypes: float64(2), int64(1), object(7)
memory usage: 26.1+ KB

In [306]:
Sentiment_calc=CollegeReviewCompiled.drop(['Sentiment'], axis=1)

In [307]:
def sentiments(rating):
    if  (rating >= 3.5):
        return 1
   # elif (rating >= 3) and (rating < 4):
    #    return 'Neutral'
    elif (rating < 3.5):
        return -1
   # else: return 'Neutral'
# Add sentiments to the data
Sentiment_calc['Sentiment'] = Sentiment_calc['reviewRating'].apply(sentiments)

In [308]:
##Sentiment_calc.Sentiment = Sentiment_calc.Sentiment.fillna('Neutral')

In [309]:
print(Sentiment_calc['Sentiment'].unique())

[ 1. -1. nan]

In [310]:
Sentiment_calc.describe()

       reviewRating  ratingMaxvalue  dateCreated   Sentiment
count    332.000000           332.0   333.000000  332.000000
mean       3.431928             5.0  2016.186186    0.138554
std        1.548200             0.0     2.398830    0.991850
min        1.000000             5.0  2010.000000   -1.000000
25%        2.000000             5.0  2015.000000   -1.000000
50%        4.000000             5.0  2017.000000    1.000000
75%        5.000000             5.0  2018.000000    1.000000
max        5.000000             5.0  2020.000000    1.000000

In [311]:
Sentiment_calc['Sentiment'].value_counts()

 1.0    189
-1.0    143
Name: Sentiment, dtype: int64

In [312]:
Sentiment_calc.head()

,author,reviewBody,reviewRating,ratingMaxvalue,dateCreated,reviewUrl,reviewSource,name,address,Sentiment
0,Dermot Dunne,Stunning new university campus near Dublin cit...,5.0,5.0,2014,https://www.google.com/maps/contrib/1172180627...,www.google.com,"TU Dublin, Aungier Street","TU Dublin, Aungier Street",1.0
1,jorge garcia rey,"Great campus to go for a walk, and with a coup...",5.0,5.0,2014,https://www.google.com/maps/contrib/1018313073...,www.google.com,"TU Dublin, Aungier Street","TU Dublin, Aungier Street",1.0
2,Omar Nicolai,I know this building has over 200 years of var...,5.0,5.0,2014,https://www.google.com/maps/contrib/1069724274...,www.google.com,"TU Dublin, Aungier Street","TU Dublin, Aungier Street",1.0
3,ruth connolly,Great place to sit or exercise. Well kept safe...,5.0,5.0,2014,https://www.google.com/maps/contrib/1090465921...,www.google.com,"TU Dublin, Aungier Street","TU Dublin, Aungier Street",1.0
4,Fintan Moloney,"Nice college grounds area for walking, jogging...",5.0,5.0,2014,https://www.google.com/maps/contrib/1052988761...,www.google.com,"TU Dublin, Aungier Street","TU Dublin, Aungier Street",1.0

In [313]:
Sentiment_calc.to_csv('Dataset_for_powerBISentiment.csv')

In [314]:
Sentiment_calc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   author          333 non-null    object
 1   reviewBody      277 non-null    object
 2   reviewRating    332 non-null    float64
 3   ratingMaxvalue  332 non-null    float64
 4   dateCreated     333 non-null    int64
 5   reviewUrl       333 non-null    object
 6   reviewSource    333 non-null    object
 7   name            333 non-null    object
 8   address         333 non-null    object
 9   Sentiment       332 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 26.1+ KB

In [315]:
CollegeReviewCompiled=Sentiment_calc.drop(['author', 'ratingMaxvalue','dateCreated','reviewUrl','reviewSource','name','address'], axis=1)

In [316]:
CollegeReviewCompiled=CollegeReviewCompiled.drop(['reviewRating'], axis=1)

In [317]:
CollegeReviewCompiled.head()

                                          reviewBody  Sentiment
0  Stunning new university campus near Dublin cit...        1.0
1  Great campus to go for a walk, and with a coup...        1.0
2  I know this building has over 200 years of var...        1.0
3  Great place to sit or exercise. Well kept safe...        1.0
4  Nice college grounds area for walking, jogging...        1.0

In [318]:
CollegeReviewCompiled['Sentiment'].value_counts()

 1.0    189
-1.0    143
Name: Sentiment, dtype: int64

In [319]:
print(CollegeReviewCompiled['Sentiment'].unique())

[ 1. -1. nan]

In [320]:
CollegeReviewCompiled.to_csv('ML_SENTIMENT.csv')

In [321]:
#Loading the Dataset
import pandas as pd
data = pd.read_csv('ML_SENTIMENT.csv')
data.reviewBody=data.reviewBody.astype(str)
data.Sentiment=data.Sentiment.astype(str)
#Pre-Prcoessing and Bag of Word Vectorization using Count Vectorizer
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer

In [322]:
token = RegexpTokenizer(r'[a-zA-Z0-9]+')
cv = CountVectorizer(stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts = cv.fit_transform(data['reviewBody'])

In [323]:
#Splitting the data into trainig and testing

from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(text_counts, data['reviewBody'], test_size=0.40, random_state=5)

In [324]:
#Training the model
from sklearn.naive_bayes import MultinomialNB
MNB = MultinomialNB()
MNB.fit(X_train, Y_train)
#Caluclating the accuracy score of the model
from sklearn import metrics
predicted = MNB.predict(X_test)
accuracy_score = metrics.accuracy_score(predicted, Y_test)
print("Accuracuy Score: ",accuracy_score)

Accuracuy Score:  0.3283582089552239

In [325]:
CollegeReviewCompiled['Sentiment'].value_counts()

 1.0    189
-1.0    143
Name: Sentiment, dtype: int64

In [326]:
CollegeReviewCompiled.reviewBody = CollegeReviewCompiled.reviewBody.fillna(' mess,bad,dirty,rude,dishonest,cheat,expensive,unworthy')

In [327]:
CollegeReviewCompiled.tail()

                                            reviewBody  Sentiment
328   mess,bad,dirty,rude,dishonest,cheat,expensive...       -1.0
329   mess,bad,dirty,rude,dishonest,cheat,expensive...       -1.0
330   mess,bad,dirty,rude,dishonest,cheat,expensive...       -1.0
331   mess,bad,dirty,rude,dishonest,cheat,expensive...       -1.0
332   mess,bad,dirty,rude,dishonest,cheat,expensive...       -1.0

In [297]:
#CollegeReviewCompiled = CollegeReviewCompiled.reset_index()

In [334]:
CollegeReviewCompiled.Sentiment = CollegeReviewCompiled.Sentiment.fillna(-1)

In [335]:
print(CollegeReviewCompiled['Sentiment'].unique())

[ 1. -1.]

In [336]:
# random split train and test data
index = CollegeReviewCompiled.index
CollegeReviewCompiled['random_number'] = np.random.randn(len(index))
train = CollegeReviewCompiled[CollegeReviewCompiled['random_number'] <= 0.8]
test = CollegeReviewCompiled[CollegeReviewCompiled['random_number'] > 0.8]

In [337]:
# count vectorizer:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(token_pattern=r'\b\w+\b')
train_matrix = vectorizer.fit_transform(train['reviewBody'].values.astype('U'))
test_matrix = vectorizer.transform(test['reviewBody'].values.astype('U'))

In [338]:
# Logistic Regression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [339]:
X_train = train_matrix
X_test = test_matrix
y_train = train['Sentiment']
y_test = test['Sentiment']

In [345]:
lr.fit(X_train,y_train)

LogisticRegression()

In [349]:
predictions = lr.predict(X_test)

In [352]:
print(test['reviewBody'])

7      Great team, great people, great campus, good w...
15     This is a beautiful new home for TU Dublin, Ir...
17     This is a very impressive campus. It seems to ...
18     Nice new facilities at this new campus of TU D...
28     This is a beautiful new home for TU Dublin, Ir...
                             ...
308    This university is draconian in nature and pun...
318    Don't ask more than one question at a time, yo...
321    Under such a pandemic situation its completely...
325                                                 Bad.
329     mess,bad,dirty,rude,dishonest,cheat,expensive...
Name: reviewBody, Length: 62, dtype: object

In [351]:
predictions

array([ 1.,  1.,  1.,  1.,  1., -1., -1., -1.,  1., -1.,  1.,  1.,  1.,
        1.,  1.,  1., -1.,  1., -1.,  1.,  1.,  1.,  1., -1.,  1.,  1.,
        1.,  1., -1., -1., -1., -1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,
        1.,  1.,  1., -1.,  1.,  1., -1.,  1.,  1., -1.,  1., -1., -1.,
        1., -1., -1., -1., -1.,  1.,  1.,  1.,  1., -1.])

In [353]:
# find accuracy, precision, recall:
from sklearn.metrics import confusion_matrix,classification_report
new = np.asarray(y_test)
confusion_matrix(predictions,y_test)

array([[13,  8],
       [12, 29]])

In [354]:
print(classification_report(predictions,y_test))

              precision    recall  f1-score   support

        -1.0       0.52      0.62      0.57        21
         1.0       0.78      0.71      0.74        41

    accuracy                           0.68        62
   macro avg       0.65      0.66      0.65        62
weighted avg       0.69      0.68      0.68        62